.messagesContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* rescope gap to safely use in component */
  --gap: var(--clover-ai-sizes-3);
  gap: var(--gap);
  scrollbar-color: var(--clover-ai-colors-secondaryAlt) transparent;
  overflow-y: scroll;

  &[data-state="assistant_responding"] {
    &::after {
      content: "Thinking...";
      font-style: italic;
      --line-height: 1.5;
      line-height: var(--line-height);
      /* The multiplier -2 is used to adjust the positioning of the "Thinking..." text
         relative to the preceding content. It ensures the text appears slightly above
         its default position for better visual alignment. */
      margin-block-start: calc(-2 * (var(--line-height) * var(--clover-ai-sizes-3)));
    }
  }

  [data-role="filler"] {
    flex-shrink: 0;
  }
}
